/// colors ///

$lightBlueGrey: #ECE8FA;
$navFontColor: #878486;

/// greens
$green_1 : #227E5E;
$green_2 : #25765A;
$green_3 : #1B7354;
$green_4 : #84E8C5;
$green_5 : #BCE8D8;

// secondary colors blue
$blue_1 : #2A4A7C;
$blue_2 : #2C4874;
$blue_3 : #214071;
$blue_4 : #8DB0E8;
$blue_5 : #C0CFE8;

// secondary colors 2 yellow
$yellow_1 : #BC8A33;
$yellow_2 : #B08438;
$yellow_3 : #AB7C28;
$yellow_4 : #F3CD8A;
$yellow_5 : #F3E2C5;

//Complementary Color: Red
$red_1 : #BC5F33;
$red_2 : #B05F38;
$red_3 : #AB5328;
$red_4 : #F3AC8A;
$red_5 : #F3D4C5;

/// font stufff ///

$baseFontSize: 24px;
$navFontFamily: 'Abel', 'sans-serif';
$linden:'Linden Hill', 'serif';
$desFontFamily: 'Open Sans Condensed';
$navFontWeight: 100;