<div id="theatre_events_heading">
  <h3 id="theatre_events_header">Events Calendar</h3>
  <ul id="theatre_events_month_tabs">
  {{#months}}
    <li data-month="{{number}}" class="{{active}}">{{letter}}</li>
  {{/months}}
  </ul>
</div>
<ul class="theatre_event_list active">

</ul>