<div class="showtime_movie_data">
  <div class="showtime_col_1">
    <h3 data-movie-id="{{movie.movie_id}}">
      {{movie.title}}
      <span class="showtime_title_sub tip" rel="tooltip" data-original-title="{{#rating_text}}{{rating}}{{/rating_text}}">({{movie.rating}})</span>
    </h3>
  </div>
  <div class="showtime_col_2">
<span class="showtime-comments">
{{#movie.comments}}{{movie.comments}};{{/movie.comments}}
<span class="showtime-runtime">{{movie.runtime}}</span>
</span>

    <div class="item-list">
      <ul>{{#display_showtimes}}
        <li
        {{#li_class}}class="{{li_class}}"{{/li_class}}>
        <a class="{{time_class}}" target="_blank" href="https://www.movietickets.com/purchase.asp?exid=nai&perft={{perft}}&perfd={{perfd}}&movie_id={{movie_id}}&house_id={{house_id}}">{{time}}</a>
        </li>
        {{/display_showtimes}}
      </ul>
    </div>
  </div>
</div>
<div id="{{movie.movie_id}}" class="info_contain" style="clear: both; display:none;"><a href="{{movie.movie_link}}">
  <img src="{{movie.image_uri}}" alt="{{movie.title}}" class="showtimes_poster"></a>
  <div class="showtime_data">
    <span>Runtime: {{movie.runtime}}</span>
    <span> {{movie.rating}} {{movie.advisory}}</span>
    <span><strong>Genre:</strong> {{movie.genre}} </span>
    <span><strong>Cast:</strong> {{movie.actors}} </span>
    <span><strong>Synopsis:</strong> {{movie.synopsis}}</span>
    <a class="showtime_movie_info_link" href="{{movie.movie_link}}">Movie Info</a>
  </div>
</div>