    <div id="showtime_home_location" class="is_hidden_mobile">
      <span class="showtime_home_title">Theatres Closest To:</span>
      <span class="showtime_home_addr">{{city}}, {{state}}</span>
      <a href="#" id="nav_showtime" class="changer">Change</a>
    </div>
    <div id="map_container">

    </div>
    <div class="theatres">
    </div>