/* line 7, ../sass/projects.scss */
#container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

/* line 12, ../sass/projects.scss */
#nav-container {
  background: white;
  float: left;
  position: relative;
  z-index: 30;
  width: 100%;
}

/* line 20, ../sass/projects.scss */
#svg {
  z-index: -1;
  position: relative;
  width: 600px;
  height: 500px;
  margin: auto;
  display: none;
}

/* line 29, ../sass/projects.scss */
.svg-container {
  width: 80%;
  height: auto;
  float: left;
  margin-top: 70px;
  display: none;
}

/* line 37, ../sass/projects.scss */
.nav {
  padding: 50px;
  -webkit-transition: width 500ms, opacity 500ms, height 500ms;
  -moz-transition: width 500ms, opacity 500ms, height 500ms;
  -o-transition: width 500ms, opacity 500ms, height 500ms;
  transition: width 500ms, opacity 500ms, height 500ms;
}
/* line 43, ../sass/projects.scss */
.nav .name {
  margin-bottom: 20px;
}
/* line 45, ../sass/projects.scss */
.nav .name:hover {
  cursor: pointer;
}

/* line 51, ../sass/projects.scss */
.nav__item {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}
/* line 55, ../sass/projects.scss */
.nav__item h3 {
  display: block;
  float: left;
}

/* line 61, ../sass/projects.scss */
.detail {
  padding-top: 50px;
}
/* line 64, ../sass/projects.scss */
.detail h1, .detail span {
  line-height: 25px;
}
/* line 67, ../sass/projects.scss */
.detail h1 {
  margin-bottom: 17px;
}
/* line 70, ../sass/projects.scss */
.detail span {
  font-size: 16px;
}
/* line 73, ../sass/projects.scss */
.detail img {
  width: 100%;
}

/* line 78, ../sass/projects.scss */
#display-container {
  width: 100%;
  float: left;
  background: white;
  position: relative;
  z-index: 20;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;
}

/* line 90, ../sass/projects.scss */
.project {
  width: 95%;
  float: left;
  margin: 10px 2.5%;
  min-height: 120px;
  -webkit-transition: opacity 1500ms, width 500ms;
  -moz-transition: opacity 1500ms, width 500ms;
  -o-transition: opacity 1500ms, width 500ms;
  transition: opacity 1500ms, width 500ms;
}
/* line 100, ../sass/projects.scss */
.project img {
  max-width: 100%;
}
/* line 103, ../sass/projects.scss */
.project h2 {
  font-family: "Linden Hill", "serif";
}

/* line 108, ../sass/projects.scss */
.skills {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0px;
  left: 0px;
  opacity: 1;
  overflow: hidden;
  background: #84e8c5;
  -webkit-transition: width 500ms, opacity 500ms, height 500ms;
  -moz-transition: width 500ms, opacity 500ms, height 500ms;
  -o-transition: width 500ms, opacity 500ms, height 500ms;
  transition: width 500ms, opacity 500ms, height 500ms;
  line-height: 15px;
}

/* line 124, ../sass/projects.scss */
.active-item .skill__item {
  box-shadow: inset 5px 5px 28px -4px;
}

/* line 128, ../sass/projects.scss */
.skill__item {
  color: #ab7c28;
  font-weight: 600;
  font-size: 2em;
  line-height: 50px;
}

/* line 135, ../sass/projects.scss */
.skill-cont {
  margin: 0 0 0 10px;
}

/* line 139, ../sass/projects.scss */
.menu_open .skills {
  opacity: 1;
  z-index: 999;
  box-shadow: inset 0px -35px 160px -50px #c0cfe8;
}

/* line 145, ../sass/projects.scss */
.close-menu {
  float: right;
  background: white;
  border-radius: 10px;
  width: 20px;
  height: 16px;
  text-align: center;
  /* vertical-align: middle; */
  padding: 5px;
}

/* line 156, ../sass/projects.scss */
#icon {
  margin: 0 auto;
  width: 80%;
  display: block;
}

/* line 163, ../sass/projects.scss */
.fixed-header #icon {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: -30px;
  z-index: 9;
  width: auto;
}
/* line 171, ../sass/projects.scss */
.fixed-header .nav .name {
  margin-bottom: 20px;
  position: fixed;
  background: white;
  top: 0;
  height: 50px;
  padding-top: 30px;
  left: 0;
  padding-left: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 211, ../sass/projects.scss */
  #icon {
    width: auto;
    margin: 0;
  }
  /* line 214, ../sass/projects.scss */
  #icon:hover {
    cursor: pointer;
  }

  /* line 219, ../sass/projects.scss */
  .three {
    background: white;
  }
  /* line 221, ../sass/projects.scss */
  .three #svg {
    display: none;
  }
  /* line 224, ../sass/projects.scss */
  .three #display-container {
    width: 15%;
    box-shadow: 21px 0px 49px -34px #ab5328;
    display: block;
  }
  /* line 230, ../sass/projects.scss */
  .three #detail-container {
    width: 65%;
    display: block;
  }
  /* line 235, ../sass/projects.scss */
  .three .project {
    width: 80%;
    margin-left: 15%;
  }
  /* line 238, ../sass/projects.scss */
  .three .project h2 {
    font-size: 12px;
    display: none;
  }
  /* line 243, ../sass/projects.scss */
  .three .project:hover h2 {
    display: block;
    margin-top: -24px;
    background: white;
    position: relative;
    max-width: 70%;
    padding: 6px;
    border-radius: 0 10px 0 0;
  }

  /* line 257, ../sass/projects.scss */
  .two #display-container {
    width: 72%;
    padding-left: 8%;
    display: block;
  }
  /* line 263, ../sass/projects.scss */
  .two #svg {
    display: none;
  }
  /* line 266, ../sass/projects.scss */
  .two #detail-container {
    width: 0;
  }
  /* line 269, ../sass/projects.scss */
  .two .project {
    width: 45%;
  }

  /* line 274, ../sass/projects.scss */
  #svg, .svg-container {
    display: block;
  }

  /* line 278, ../sass/projects.scss */
  .detail {
    padding-right: 5%;
    padding-left: 5%;
  }

  /* line 283, ../sass/projects.scss */
  #nav-container {
    width: 20%;
    float: left;
    box-shadow: 21px 0px 25px -34px #2a4a7c;
  }

  /* line 291, ../sass/projects.scss */
  .skills {
    position: relative;
    opacity: 1;
    width: 100%;
    background: none;
    height: auto;
  }

  /* line 299, ../sass/projects.scss */
  .close-menu {
    display: none;
  }

  /* line 303, ../sass/projects.scss */
  #display-container {
    width: 0;
    box-shadow: 21px 0px 49px -34px #ab5328;
    float: left;
    padding-top: 40px;
  }

  /* line 311, ../sass/projects.scss */
  #detail-container {
    float: left;
    width: 0;
    display: none;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms;
  }

  /* line 322, ../sass/projects.scss */
  .project {
    width: 33%;
    float: left;
    min-height: 120px;
    margin: 10px;
    display: none;
    opacity: 0;
  }
  /* line 330, ../sass/projects.scss */
  .project img {
    width: 90%;
  }

  /* line 336, ../sass/projects.scss */
  .open .project {
    display: block;
    opacity: 1;
  }

  /* line 343, ../sass/projects.scss */
  .closed .project {
    display: none;
    opacity: 0;
  }

  /* line 349, ../sass/projects.scss */
  .jump-to-site {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
  }
  /* line 354, ../sass/projects.scss */
  .jump-to-site:hover {
    color: #bc5f33;
  }

  /* line 359, ../sass/projects.scss */
  .skill__item {
    color: black;
    font-size: 1em;
    line-height: 24px;
    font-weight: 400;
    float: left;
    width: 100%;
  }
  /* line 368, ../sass/projects.scss */
  .skill__item:hover .dot-cont {
    width: 35%;
  }

  /* line 374, ../sass/projects.scss */
  .skill-cont, .dot-cont {
    float: left;
    display: block;
  }

  /* line 379, ../sass/projects.scss */
  .skill-cont {
    width: 45%;
    margin: 0;
  }

  /* line 384, ../sass/projects.scss */
  .dot-cont {
    width: 10px;
    -webkit-transition: width 600ms;
    -moz-transition: width 600ms;
    -o-transition: width 600ms;
    transition: width 600ms;
  }

  /* line 392, ../sass/projects.scss */
  .dot {
    float: right;
    margin-top: 7px;
  }
}
/* line 4, ../sass/style.scss */
html {
  overflow-y: scroll;
}

/* line 8, ../sass/style.scss */
.messages {
  display: none;
}

/* line 12, ../sass/style.scss */
h1, strong, h2, a, label, span {
  font-family: abel;
  font-size: 24px;
  font-weight: 100;
  color: #2a4a7c;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

/* line 22, ../sass/style.scss */
h1 {
  font-family: "Linden Hill", "serif";
}
